a:hover {
  text-align: center;
  color: #ee1e3a;
}

a {
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
}

.head {
  text-align: center;
}

body {
  background-image: url(../images/websitebg3.png);

  background-size: cover;
  background-position: center;
}

.logo {
  text-align: right;
}

.icon {
  font-size: 4rem;
  text-align: center;
}

@media (min-width: 50px) {
  .icon {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
}

@media (min-width: 550px) {
  .icon {
    text-align: left;
  }
  .logo {
    text-align: right;
  }
  body {
    background-image: url(../images/websitebackground-03.png);
  }
}

.section {
  text-align: center;
}

.descr {
  background-image: url("../images/descr-bg.jpg");
  background-size: cover;
}
